/*Style for the  autocomplete dropdown list*/
.dropdown-item:hover {
    cursor: pointer;
    background-color: #e9ecef;
}

.dropdown-item:active {
    cursor: pointer;
    background-color: #cfcfd3;
}
